body {
  background-color: #efefef;
}

.section {
  text-align: center;
}

.section h1 {
  margin-top: 2em;
  font-size: 2em;
  font-family: "Playball", cursive;
  color: #22EF2A;
}

.header {
  background-color: lightgray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header ul {
  text-align: center;
  font-size: 1.5em;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.header ul li {
  margin: 0.5em;
}

.header ul li a {
  font-family: "Playball", cursive;
  color: #0DDFEC !important;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
}

.header ul li a:hover {
  color: black !important;
}

.header input {
  width: 75%;
}

.header form {
  text-align: right;
}

.header form .btn {
  margin-left: 1em;
}

.footer {
  background-color: #0f7699;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f7699), to(#efefef));
  background: linear-gradient(#0f7699, #efefef);
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer .supermarket .text {
  text-align: center;
  color: white;
}

.footer .supermarket .text h2 {
  font-family: "Playball", cursive;
}

.footer .supermarket .text h4 {
  font-family: "Castoro", serif;
}

.footer .supermarket .market-icon {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.footer .supermarket .market-icon img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 2em;
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.footer .supermarket .market-icon .pns {
  width: 15em;
  height: 8em;
}

.footer .supermarket .market-icon .countdown {
  height: 12em;
}

.footer .supermarket .market-icon .nw {
  height: 12em;
}

.footer .status {
  padding-bottom: 1em;
}

.footer .status::before {
  content: "";
  position: absolute;
  border-bottom: 3px #2e2e2e solid;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  width: 15em;
}

.footer .status p {
  margin-top: 0.5em;
  text-align: center;
  color: #767676;
  font-size: 1em;
  font-family: "Castoro", serif;
}

.footer .status .first {
  padding-top: 1em;
}

.footer .contact-info {
  text-align: center;
  background-color: #2e2e2e;
  height: 70vw;
  margin-top: 0.1em;
}

.footer .contact-info .details {
  display: block;
}

.footer .contact-info .details > div {
  padding-top: 0.5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.footer .contact-info .details > div h2 {
  color: white;
  font-family: "Castoro", serif;
}

.footer .contact-info p {
  background-color: #2e2e2e;
  color: white;
  font-size: 0.8em;
  margin-top: 1.5em;
  font-family: "Castoro", serif;
}

.jumbotron {
  padding: 0;
  background-image: url("../img/emart-jumbotron2.jpg");
  background-size: cover;
  height: 30vh;
  width: 100%;
  margin-bottom: 0;
}

#home {
  text-align: center;
}

#home .why {
  display: block;
}

#home .why > div {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin: 5em;
  font-family: "Castoro", serif;
}

#contact h1 {
  color: black;
  text-align: center;
  font-family: "Playball", cursive;
}

#contact form {
  width: 60%;
  margin: auto;
}

#contact form #message {
  width: 100%;
}

#contact form button {
  background-color: #0DDFEC;
  color: white;
  font-family: "Castoro", serif;
}

#products {
  text-align: center;
}

#products h1 {
  font-family: "Playball", cursive;
}

#products .above {
  display: block;
  margin: auto;
}

#products .above > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  cursor: pointer;
  margin-top: 1em;
}

#products .above > div .image {
  position: relative;
}

#products .above > div .image img {
  display: block;
  margin: auto;
}

#products .above > div .image img:hover + .more {
  background-color: aqua;
  display: block;
  color: white;
  border-radius: 0.5em;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#products .above > div .image img:hover {
  opacity: 0.5;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#products .above > div .image .more {
  display: none;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 25%;
}

#products .above > div .image .link {
  font-family: "Playball", cursive;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#products .above > div .image .link:hover {
  color: #0DDFEC;
}

#lists .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lists .head a {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-left: 1em;
  color: black;
}

#lists .head h1 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-top: 0.5em;
  font-size: 3em;
  color: #0DDFEC;
  font-family: "Playball", cursive;
}

#lists .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#lists .items > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 1em;
  margin: auto;
  padding: 1.5em;
}

#lists .items > div img {
  display: block;
  margin: auto;
}

#lists .items > div .text {
  width: 100%;
}

#lists .items > div .text h5 {
  font-family: "Castoro", serif;
  font-size: 1.5em;
}

#lists .items > div .text p {
  font-size: 0.8em;
}

#lists .items > div .text .price {
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
  color: #22EF2A;
}

#lists .items > div .text .where {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#lists .items > div .text .where h5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-family: "Castoro", serif;
}

#lists .items > div .text .where img {
  margin-top: 1em;
}

#lists .items > div .text .where .count {
  width: 3.5em;
  height: 3em;
  margin: 0.5em;
}

#lists .items > div .text .where .pns {
  width: 6.5em;
  height: 3em;
  margin: 0.5em;
}

#taxonomy .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#taxonomy .head a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-left: 1em;
  color: black;
}

#taxonomy .head h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  margin-top: 0.5em;
  font-size: 3em;
  color: #0DDFEC;
  font-family: "Playball", cursive;
}

#taxonomy #supplements {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#taxonomy #supplements > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: auto;
  padding: 0 1.5em;
}

#taxonomy #supplements > div img {
  display: block;
  margin: auto;
}

#taxonomy #supplements > div .text {
  width: 100%;
  text-align: left;
}

#taxonomy #supplements > div .text h5 {
  font-family: "Castoro", serif;
  font-size: 1.5em;
}

#taxonomy #supplements > div .text p {
  font-size: 0.8em;
}

#taxonomy #supplements > div .text .price {
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
  color: #22EF2A;
}

#taxonomy #supplements > div .text .where {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#taxonomy #supplements > div .text .where h5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-family: "Castoro", serif;
}

#taxonomy #supplements > div .text .where img {
  margin-top: 1em;
}

#taxonomy #supplements > div .text .where .count {
  width: 3.5em;
  height: 3em;
  margin: 0.5em;
}

#taxonomy #supplements > div .text .where .pns {
  width: 6.5em;
  height: 3em;
  margin: 0.5em;
}

.products .item {
  display: none;
  margin: auto;
}

.products .controls a {
  border: thin lightgray solid;
  font-family: "Castoro", serif;
}

/*for mobile - inclusive*/
@media only screen and (min-width: 80em) {
  .header {
    background-color: lightgray;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .header ul {
    text-align: right;
    font-size: 1.5em;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  .header ul li {
    margin: 0.5em;
  }
  .header ul li a {
    font-family: "Playball", cursive;
    color: #0DDFEC !important;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    cursor: pointer;
  }
  .header ul li a:hover {
    color: black !important;
  }
  .footer {
    background-color: #0f7699;
    background: -webkit-gradient(linear, left top, left bottom, from(#0f7699), to(#efefef));
    background: linear-gradient(#0f7699, #efefef);
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer .supermarket .text {
    text-align: center;
    color: white;
  }
  .footer .supermarket .text h2 {
    font-family: "Playball", cursive;
  }
  .footer .supermarket .text h4 {
    font-family: "Castoro", serif;
  }
  .footer .supermarket .market-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .footer .supermarket .market-icon img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin: 2em;
    display: block;
    margin: auto;
    margin-bottom: 2em;
  }
  .footer .supermarket .market-icon .pns {
    height: 8em;
  }
  .footer .supermarket .market-icon .countdown {
    height: 12em;
  }
  .footer .supermarket .market-icon .nw {
    height: 12em;
  }
  .footer .status {
    padding-bottom: 1em;
  }
  .footer .status::before {
    content: "";
    position: absolute;
    border-bottom: 3px #2e2e2e solid;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    width: 50em;
  }
  .footer .status p {
    text-align: center;
    color: #767676;
    font-size: 1.5em;
    font-family: "Castoro", serif;
  }
  .footer .contact-info {
    text-align: center;
    background-color: #2e2e2e;
    height: 10vw;
    margin-top: 0.5em;
  }
  .footer .contact-info .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .contact-info .details > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
  .footer .contact-info .details > div h2 {
    color: white;
    font-family: "Castoro", serif;
  }
  .footer .contact-info p {
    background-color: #2e2e2e;
    color: white;
    margin-top: 4.5em;
    font-family: "Castoro", serif;
  }
  .jumbotron {
    padding: 0;
    background-image: url("../img/emart-jumbotron2.jpg");
    background-size: cover;
    height: 50vw;
    width: 100%;
    margin-bottom: 0;
  }
  #home {
    text-align: center;
  }
  #home h1 {
    margin-top: 2em;
    font-size: 2em;
    font-family: "Playball", cursive;
  }
  #home .why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #home .why > div {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    margin: 5em;
    font-family: "Castoro", serif;
  }
  #contact h1 {
    color: black;
    text-align: center;
    font-family: "Playball", cursive;
  }
  #contact form {
    width: 60%;
    margin: auto;
  }
  #contact form #message {
    width: 100%;
  }
  #contact form button {
    background-color: #0DDFEC;
    color: white;
    font-family: "Castoro", serif;
  }
  #products {
    text-align: center;
  }
  #products h1 {
    font-family: "Playball", cursive;
  }
  #products .above {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  #products .above > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    cursor: pointer;
  }
  #products .above > div .image {
    position: relative;
  }
  #products .above > div .image img {
    display: block;
    margin: auto;
  }
  #products .above > div .image img:hover + .more {
    background-color: aqua;
    display: block;
    color: white;
    border-radius: 0.5em;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  #products .above > div .image img:hover {
    opacity: 0.5;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  #products .above > div .image .more {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 25%;
  }
  #products .above > div .image .link {
    font-family: "Playball", cursive;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  #products .above > div .image .link:hover {
    color: #0DDFEC;
  }
  #products .below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
    margin-top: 3em;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  #products .below > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    cursor: pointer;
  }
  #products .below > div .image {
    position: relative;
  }
  #products .below > div .image img {
    display: block;
    margin: auto;
  }
  #products .below > div .image img:hover + .more {
    background-color: aqua;
    display: block;
    color: white;
    border-radius: 0.5em;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  #products .below > div .image img:hover {
    opacity: 0.5;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  #products .below > div .image .more {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 25%;
  }
  #products .below > div .image .link {
    font-family: "Playball", cursive;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  #products .below > div .image .link:hover {
    color: #0DDFEC;
  }
  #lists .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #lists .head a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
    color: black;
  }
  #lists .head h1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    font-size: 3em;
    color: #0DDFEC;
    font-family: "Playball", cursive;
  }
  #lists .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #lists .items > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    margin: 1em;
  }
  #lists .items > div img {
    display: block;
    margin: auto;
  }
  #lists .items > div .text {
    width: 100%;
  }
  #lists .items > div .text h5 {
    font-family: "Castoro", serif;
    font-size: 1.5em;
  }
  #lists .items > div .text p {
    font-size: 0.8em;
  }
  #single-item a {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
    color: black;
  }
  #single-item .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 70%;
    margin: auto;
  }
  #single-item .item img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  #single-item .item .text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    margin-left: 2em;
  }
  #single-item .item .text h3 {
    font-family: "Castoro", serif;
  }
  #single-item .item .text p {
    margin-top: 2em;
  }
  #single-item .item .text .price {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
    color: #22EF2A;
  }
  #single-item .item .text .ingredient {
    margin-top: 2em;
  }
  #single-item .item .text .ingredient h5 {
    font-family: "Castoro", serif;
  }
  #single-item .item .text .ingredient p {
    margin: 0;
    text-transform: lowercase;
  }
  #single-item .item .text .where {
    margin-top: 4em;
    width: 50%;
  }
  #single-item .item .text .where h5 {
    font-family: "Castoro", serif;
  }
  #single-item .item .text .where img {
    margin-right: 2em;
  }
  #single-item .item .text .where .count {
    width: 5em;
    height: 5em;
  }
  #single-item .item .text .where .pns {
    width: 10em;
    height: 4em;
  }
  #taxonomy .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #taxonomy .head a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
    color: black;
  }
  #taxonomy .head h1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    font-size: 3em;
    color: #0DDFEC;
    font-family: "Playball", cursive;
  }
  #taxonomy #supplements {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #taxonomy #supplements > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    margin: 1em;
  }
  #taxonomy #supplements > div img {
    display: block;
    margin: auto;
  }
  #taxonomy #supplements > div .text {
    width: 100%;
    text-align: left;
  }
  #taxonomy #supplements > div .text h5 {
    font-family: "Castoro", serif;
    font-size: 1.5em;
  }
  #taxonomy #supplements > div .text .info {
    font-size: 0.8em;
  }
  .products .item {
    display: none;
    margin: auto;
  }
  .products .controls {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .products .controls a {
    font-family: "Castoro", serif;
  }
}
/*# sourceMappingURL=style.css.map */