$head: 'Playball', cursive;
$text: 'Castoro', serif;

$head-color: #0DDFEC;

body{
    background-color: #efefef;
}

.header{
    background-color: lightgray;
    position: sticky;
    top: 0;
    z-index: 99;
    ul{
        text-align: center;
        font-size: 1.5em;
        align-items: right;
        // margin-left: 50em;
        li{
            margin: 0.5em;
            a{
                font-family: $head;
                color: $head-color !important;
                transition: all ease 0.5s;
                cursor: pointer;
                &:hover{
                    color: black !important;
                }
            }
        }
    }
    input{
        width: 75%;
    }
    .btn{
        margin-left: 1em;
    }    
}

.footer{
    background-color: #0f7699;
    background: linear-gradient(#0f7699, #efefef);
    position: relative;
    bottom: 0;
    width: 100%;
    .supermarket{
        .text{
            text-align: center;
            color: white;
            h2{
                font-family: $head;
            }
            h4{
                font-family: $text;
            }
        }
        .market-icon{
            display: block;
            align-items: center;
            text-align: center;
            width: 100%;
            img{
                flex: 0 0 25%;
                margin: 2em;
                display: block;
                margin: auto;
                margin-bottom: 2em;
            }
            .pns{
                width: 15em;
                height: 8em;
            }
            .countdown{
                height: 12em;
            }
            .nw{
                height: 12em;
            }
        }
    }

    .status{
        &::before{
            content: "";
            position: absolute;
            border-bottom: 3px #2e2e2e solid;
            transform: translateX(45%);
            width: 15em;
            // padding-bottom: 1em;
        }
        padding-bottom: 1em;
        p{
            margin-top: 0.5em;
            text-align: center;
            color: #767676;
            font-size: 1em;
            font-family: $text;
        }
        .first{
            padding-top: 1em;
        }
    }

    .contact-info{
        text-align: center;
        background-color: #2e2e2e;
        height: 70vw;
        margin-top: 0.5em;
        .details{
            display: block;
            >div{
                padding-top: 1em;
                flex: 0 0 30%;
                h2{
                    color: white;
                    font-family: $text;
                }
            }
        }
        p{
            color: white;
            margin-top: 3.5em;
            font-family: $text;
        }
    }
}

.jumbotron{
    padding: 0;
    background-image: url("../img/emart-jumbotron2.jpg");
    background-size: cover;
    height: 30vh;
    width: 100%;
    margin-bottom: 0;
}

#home{
    text-align: center;
    // height: 180vw;
    h2{
        margin-top: 2em;
        font-size: 2em;
        font-family: $head;
    }
    .why{
        display: block;
        >div{
            flex: 30%;
            margin: 5em;
            font-family: $text;
        }
    }
}

#contact{
    // height: 100vw;
    h1{
        color: black;
        text-align: center;
        font-family: $head;
    }
    form{
        width: 60%;
        margin: auto;
        #message{
            width: 100%;
        }
        button{
            background-color: $head-color;
            color: white;
            font-family: $text;
        }
    }
}

#products{
    // height: 350vw;
    text-align: center;
    h1{
        font-family: $head;
    }
    .above{
        display: block;
        transform: translateX(5%);
        >div{
            flex: 0 0 30%;
            cursor: pointer;
            margin-top: 1em;
            .image{
                position: relative;
                img{
                    display: block;
                    margin: auto;
                    // margin: 0;
                    &:hover + .more{
                        background-color: aqua;
                        display: block;
                        color: white;
                        border-radius: 0.5em;
                        transition: all ease 0.5s;
                    }
                    &:hover{
                        opacity: 0.5;
                        transition: all ease 0.5s;
                    }
                }
                .more{
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 40%;
                    width: 25%;
                }
                .link{
                    font-family: $head;
                    font-size: 1.5em;
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                    transition: all ease 0.5s;
                    &:hover{
                        color: $head-color;
                    }
                }
            }
            
            
        }
    }

    .below{
        display: block;
        transform: translateX(5%);
        >div{
            flex: 0 0 30%;
            cursor: pointer;
            margin-top: 1em;
            .image{
                position: relative;
                img{
                    display: block;
                    margin: auto;
                    &:hover + .more{
                        background-color: aqua;
                        display: block;
                        color: white;
                        border-radius: 0.5em;
                        transition: all ease 0.5s;
                    }
                    &:hover{
                        opacity: 0.5;
                        transition: all ease 0.5s;
                    }
                }
                .more{
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 40%;
                    width: 25%;
                }
                .link{
                    font-family: $head;
                    font-size: 1.5em;
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                    transition: all ease 0.5s;
                    &:hover{
                        color: $head-color;
                    }
                }
            }
        }
    }
}

#lists{
    // height: 300vw;
    .head{
        display: flex;
        a{
            flex: 0 0 25%;
            font-size: 2.5em;
            margin-top: 0.5em;
            margin-left: 1em;
            color: black;
        }
        h1{
            flex: 0 0 70%;
            margin-top: 0.5em;
            font-size: 3em;
            color: $head-color;
            font-family: $head;
        }
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        >div{
            flex: 0 0 23%;
            margin: 1em;
            img{
                display: block;
                margin: auto;
            }
            .text{
                width: 100%;
                h5{
                    font-family: $text;
                }
            }
        }
    }
}

#single-item{
    // height: 300vw;
    a{
        font-size: 2.5em;
        margin-top: 0.5em;
        margin-left: 1em;
        color: black;
    }
    .item{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
        img{
            flex: 0 0 40%;
        }
        .text{
            flex: 0 0 60%;
            margin-left: 2em;
            h3{
                font-family: $text;
            }
            p{
                margin-top: 2em;
            }
            .price{
                transform: translateY(80%);
                color: #22EF2A;
            }
            .ingredient{
                margin-top: 2em;
                h5{
                    font-family: $text;
                }
                p{
                    margin: 0;
                    text-transform: lowercase;;
                }
            }

            .where{
                margin-top: 4em;
                display: flex;
                flex-wrap: wrap;
                h5{
                    flex: 0 0 100%;
                    font-family: $text;
                }
                img{
                    margin-top: 1em;
                    margin-right: 2em;
                }
                .count{
                    width: 6em;
                    height: 5em;
                }
                .pns{
                    width: 10em;
                    height: 4em;
                }
            }
        }
    }
}

#taxonomy{
    // height: 600vw;
    .head{
        display: flex;
        a{
            flex: 0 0 25%;
            font-size: 2.5em;
            margin-top: 0.5em;
            margin-left: 1em;
            color: black;
        }
        h1{
            flex: 0 0 70%;
            margin-top: 0.5em;
            font-size: 3em;
            color: $head-color;
            font-family: $head;
        }
    }

    #supplements{
        position: relative;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        >div{
            flex: 0 0 23%;
            margin: 1em;
            img{
                display: block;
                margin: auto;
            }
            .text{
                width: 100%;
                h5{
                    font-family: $text;
                }
            }
        }
    }
}

.products{
    .item{
        display: none;
        margin: auto;
    }
    .controls{
        a{
            border: thin lightgray solid;
            font-family: $text;
        }
    }
}

/*for mobile - inclusive*/

@media only screen and (min-width : 80em) {
    .header{
        background-color: lightgray;
        position: sticky;
        top: 0;
        z-index: 99;
        ul{
            text-align: right;
            font-size: 1.5em;
            align-items: right;
            // margin-left: 50em;
            li{
                margin: 0.5em;
                a{
                    font-family: $head;
                    color: $head-color !important;
                    transition: all ease 0.5s;
                    cursor: pointer;
                    &:hover{
                        color: black !important;
                    }
                }
            }
        }
    }
    
    .footer{
        background-color: #0f7699;
        background: linear-gradient(#0f7699, #efefef);
        position: relative;
        bottom: 0;
        width: 100%;
        .supermarket{
            .text{
                text-align: center;
                color: white;
                h2{
                    font-family: $head;
                }
                h4{
                    font-family: $text;
                }
            }
            .market-icon{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                text-align: center;
                width: 100%;
                img{
                    flex: 0 0 25%;
                    margin: 2em;
                    display: block;
                    margin: auto;
                    margin-bottom: 2em;
                }
                .pns{
                    height: 8em;
                }
                .countdown{
                    height: 12em;
                }
                .nw{
                    height: 12em;
                }
            }
        }
    
        .status{
            &::before{
                content: "";
                position: absolute;
                border-bottom: 3px #2e2e2e solid;
                transform: translateX(20%);
                width: 50em;
            }
            padding-bottom: 1em;
            p{
                text-align: center;
                color: #767676;
                font-size: 1.5em;
                font-family: $text;
            }
        }
    
        .contact-info{
            text-align: center;
            background-color: #2e2e2e;
            height: 10vw;
            margin-top: 0.5em;
            .details{
                display: flex;
                flex-wrap: wrap;
                >div{
                    flex: 0 0 30%;
                    h2{
                        color: white;
                        font-family: $text;
                    }
                }
            }
            p{
                color: white;
                margin-top: 3.5em;
                font-family: $text;
            }
        }
    }
    
    .jumbotron{
        padding: 0;
        background-image: url("../img/emart-jumbotron2.jpg");
        background-size: cover;
        height: 50vw;
        width: 100%;
        margin-bottom: 0;
    }
    
    #home{
        text-align: center;
        h2{
            margin-top: 2em;
            font-size: 2em;
            font-family: $head;
        }
        .why{
            display: flex;
            flex-wrap: nowrap;
            >div{
                flex: 30%;
                margin: 5em;
                font-family: $text;
            }
        }
    }
    
    #contact{
        h1{
            color: black;
            text-align: center;
            font-family: $head;
        }
        form{
            width: 60%;
            margin: auto;
            #message{
                width: 100%;
            }
            button{
                background-color: $head-color;
                color: white;
                font-family: $text;
            }
        }
    }
    
    #products{
        // height: 50vw;
        text-align: center;
        h1{
            font-family: $head;
        }
        .above{
            display: flex;
            flex-wrap: nowrap;
            transform: translateX(5%);
            >div{
                flex: 0 0 30%;
                cursor: pointer;
                .image{
                    position: relative;
                    img{
                        display: block;
                        margin: auto;
                        // margin: 0;
                        &:hover + .more{
                            background-color: aqua;
                            display: block;
                            color: white;
                            border-radius: 0.5em;
                            transition: all ease 0.5s;
                        }
                        &:hover{
                            opacity: 0.5;
                            transition: all ease 0.5s;
                        }
                    }
                    .more{
                        display: none;
                        position: absolute;
                        top: 50%;
                        left: 40%;
                        width: 25%;
                    }
                    .link{
                        font-family: $head;
                        font-size: 1.5em;
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                        transition: all ease 0.5s;
                        &:hover{
                            color: $head-color;
                        }
                    }
                }
                
                
            }
        }
    
        .below{
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            margin-top: 3em;
            transform: translateX(20%);
            >div{
                flex: 0 0 30%;
                cursor: pointer;
                .image{
                    position: relative;
                    img{
                        display: block;
                        margin: auto;
                        &:hover + .more{
                            background-color: aqua;
                            display: block;
                            color: white;
                            border-radius: 0.5em;
                            transition: all ease 0.5s;
                        }
                        &:hover{
                            opacity: 0.5;
                            transition: all ease 0.5s;
                        }
                    }
                    .more{
                        display: none;
                        position: absolute;
                        top: 50%;
                        left: 40%;
                        width: 25%;
                    }
                    .link{
                        font-family: $head;
                        font-size: 1.5em;
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                        transition: all ease 0.5s;
                        &:hover{
                            color: $head-color;
                        }
                    }
                }
            }
        }
    }
    
    #lists{
        // height: 40vw;
        .head{
            display: flex;
            a{
                flex: 0 0 40%;
                font-size: 2.5em;
                margin-top: 0.5em;
                margin-left: 1em;
                color: black;
            }
            h1{
                flex: 0 0 60%;
                font-size: 3em;
                color: $head-color;
                font-family: $head;
            }
        }
        .items{
            display: flex;
            flex-wrap: nowrap;
            >div{
                flex: 0 0 23%;
                margin: 1em;
                img{
                    display: block;
                    margin: auto;
                }
                .text{
                    width: 100%;
                    h5{
                        font-family: $text;
                    }
                }
            }
        }
    }
    
    #single-item{
        // height: 40vw;
        a{
            font-size: 2.5em;
            margin-top: 0.5em;
            margin-left: 1em;
            color: black;
        }
        .item{
            display: flex;
            flex-wrap: nowrap;
            width: 70%;
            margin: auto;
            img{
                flex: 0 0 40%;
            }
            .text{
                flex: 0 0 60%;
                margin-left: 2em;
                h3{
                    font-family: $text;
                }
                p{
                    margin-top: 2em;
                }
                .price{
                    transform: translateY(80%);
                    color: #22EF2A;
                }
                .ingredient{
                    margin-top: 2em;
                    h5{
                        font-family: $text;
                    }
                    p{
                        margin: 0;
                        text-transform: lowercase;;
                    }
                }
    
                .where{
                    margin-top: 4em;
                    width: 50%;
                    h5{
                        font-family: $text;
                    }
                    img{
                        margin-right: 2em;
                    }
                    .count{
                        width: 5em;
                        height: 5em;
                    }
                    .pns{
                        width: 10em;
                        height: 4em;
                    }
                }
            }
        }
    }
    
    #taxonomy{
        // height: 65vw;
        .head{
            display: flex;
            a{
                flex: 0 0 40%;
                font-size: 2.5em;
                margin-top: 0.5em;
                margin-left: 1em;
                color: black;
            }
            h1{
                flex: 0 0 60%;
                font-size: 3em;
                color: $head-color;
                font-family: $head;
            }
        }
    
        #supplements{
            position: relative;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            >div{
                flex: 0 0 23%;
                margin: 1em;
                img{
                    display: block;
                    margin: auto;
                }
                .text{
                    width: 100%;
                    h5{
                        font-family: $text;
                    }
                }
            }
        }
    }
    
    .products{
        .item{
            display: none;
            margin: auto;
        }
        .controls{
            a{
                font-family: $text;
            }
        }
    }
}